{# templates/app.twig #}

{#
   App Template
   @param {Post Object} post
#}

{# Parameters #}
{% set appPost = post ?? null %}

{# Variables #}
{% set appAttrs = {
  post_type: appPost.post_type,
  post_id: appPost.ID,
  parent_id: function("wp_get_post_parent_id", appPost.id)
} %}

{# Output #}
{% extends  'templates/global.twig' %}

{% block main %}

    {% import 'macros.twig' as mcro %}

    {% if request_body.ajax != 1 %}

       {% include 'components/header-mobile.twig' %}
       {% include 'components/header.twig' %}

    {% endif %}

    {% set appInnerHTML %}

      {% block app %}{% endblock %}

    {% endset %}

    {% if request_body.ajax == 1 %}

       {{ appInnerHTML }}

    {% else %}

       {{ mcro.createHTMLTag('main', {
          class: 'site',
          id: post.post_type,
       }, [], appInnerHTML) }}

    {% endif %}

    {% if request_body.ajax != 1 %}

       {% include 'components/footer.twig' %}

    {% endif %}

{% endblock %}
