%menu-active {
  position: fixed;
  @extend .bg-black;
  @extend .shadow-6;
  @extend .mt2;
  #menuItemLogo {
    display: none;
  }
  #menuItemLogoSmall {
    display: block;
  }
}

#primarySiteMenu[data-state=hide] {
  @extend %menu-active;
  @extend .slide-above-window;
}

#primarySiteMenu[data-state=show] {
  @extend %menu-active;
  @extend .slide-below-window;
}
