/*---------------------------------------------*\
 *    5. Colours
/*---------------------------------------------*/
  // very dark gray/black
  $darkslate-gray: #3f3a35;
  $darkslate-gray-90: rgba($darkslate-gray, 0.9);
  $darkslate-gray-35: rgba($darkslate-gray, 0.35);

  //selection of grays

  $dark-gray: #A6A8AD;
  $light-gray: #D6D6D6;
  $gainsboro: #F2F2F2;
  $gainsboro-90: rgba($gainsboro, .90);
  $gainsboro-50: rgba($gainsboro, .50);

  $manatee-gray: #909296;

  // golds
  $dim-gray: #74563B;
  $sienna: #876445;
  $sienna-65: rgba(#876445, 0.65);

  $brightYellow: #e69e00;

  // link colours  
  $link-color: $dim-gray;
  $link-hover-color: $sienna;
  $link-visited-color: $sienna;

/*---------------------------------------------*\
 *    6. Typography
/*---------------------------------------------*/

  $type_size : (
      scale: '1.333',
      base: 0.9375,
      size: (
          base: 16,
      )
  );

  $type : (
      scale: 1.333,
      base: 1,
      root: 8,
      margins: (
          heading: 1em 0 0.5em,
          content: 1em 0,
      )
  );

  // $adaptive-font : (
  //     scale: 1.4,
  //     min: 6,
  //     max: 8,
  //     screen: (
  //         min: 360,
  //         max: map_get($media, tablet),
  //     ),
  // );
  //
  // $gh: 7;

  $breakpoint-not-small: 'screen and (min-width: 48em)' !default;
  $breakpoint-medium: 'screen and (min-width: 48em) and (max-width: 64em)' !default;
  $breakpoint-large: 'screen and (min-width: 64em)' !default;

  $font-size-headline: 2.75rem;
  $font-size-subheadline: 1.625rem;

  $font-size-1: 1.5rem;
  $font-size-2: 1.1rem;
  $font-size-3: 1.1rem;
  $font-size-4: 1rem;
  $font-size-5: .9rem;
  $font-size-6: .6rem;

  $line-height-mega: 2.5;

  $heading-baseline: 0.155;
  $heading-font: ('Benton Sans Black', sans-serif);

  $body-baseline: 0.121;
  $body-font: ('Helvetica', sans-serif);

  $width-1: .5rem;
  $width-2: 1rem;
  $width-3: 1.5rem;
  $width-4: 2rem;
  $width-5: 4rem;
  $width-6: 8rem;
  $width-7: 16rem;

  $height-1: .5rem;
  $height-2: 1rem;
  $height-3: 1.5rem;
  $height-4: 2rem;
  $height-5: 4rem;
  $height-6: 8rem;
  $height-7: 16rem;

  $hamburger-layer-width: 64px !default;
  $hamburger-layer-height: 8px !default;
  $hamburger-layer-spacing: 6px !default;
  $hamburger-layer-color : $brightYellow;
  $hamburger-layer-border-radius: 0;

  $box-shadow-6: 0 1px 3px 1px rgba(0,0,0,.3);
