{% extends standalone ? 'templates/minimal.twig' : 'templates/app.twig' %}

{% block app %}

  {% import 'macros.twig' as mcro %}

  <h2 class="f2 f1-ns intro-regular tracked tc ttu tc mb5">{{post.post_title}}</h2>

  <div class="owl-carousel">
    {% for item in proudAtWhatWeDoSliderBlocks %}
      <img src="{{item.image}}" class=" has-retina item">
    {% endfor %}
  </div>

{% endblock %}
