{% extends standalone ? 'templates/minimal.twig' : 'templates/app.twig' %}

   {% block app %}

      {% import 'macros.twig' as mcro %}

      <article class="relative mb5 vh-75 post-header">
        <header class="">
          <div class="cover bg-left bg-center-l" style="background-image: url({{post.thumbnail.src}})">
            <div class="bg-black-40">
              <div class="mw6 mw8-l center vh-75 flex flex-column justify-center">
                <div class="mt6-l mt6-m tc ph3 white">
                  <h1 class="mb0 f1 f-headline-l lh-copy intro-regular tracked">{{post.post_title}}</h1>
                  <h2 class="f2 f-subheadline-l lh-copy chaparral-pro-regular tracked">{{post.content}}</p>
                  <a href="{{post.custom._roughhands_meta_headerCtalink}}" class="db mt3 f3-l f5 alternateGotNo3D-regular tracked grow no-underline br-pill ph5 pv2 mb2 dib bg-white black ttu">{{post.custom._roughhands_meta_headerCtaText}}</a>
                </div>
              </div>
            </div>
          </div>
        </header>
      </article>

      <section id="introBlocks" class="mb4 mh3">

        <div class="row mw8-l center">

          {% for key, item in post.custom._roughhands_meta_whatWeDoSection %}

            <div class="col-xs-12 mb5 mw6 mw-100 mw-100-l center
                        col-sm-4
                        col-md-4
                        col-lg-4">
              <article class="ph2 what-we-do-section-{{key}}">
                <img src="{{ item.icon }}" class="db center mb4">
                <h2 class="f4 f2-m f2-l alternateGotNo3D-regular tracked tc">{{ item.title }}</h2>
                <p class="f5 f3-m f3-l chaparral-pro-regular lh-copy tc">{{ item.content }}</p>
              </article>
            </div>

          {% endfor %}

        </div>

      </section>

      <section id="proud" class="mb6">

        <img src="{{ site.theme.uri }}/dist/img/section_divider.png" class="db center mb5 section-divider h2">

        {{ panels.0 }}

      </section>

      <section id="panel_1" class="mb4 mh3">

        <div class="mw8-l center">

          <img src="{{ site.theme.uri }}/dist/img/section_divider.png" class="db center mb5 section-divider h2">

          {{ panels.1 }}

        </div>

      </section>

      <section id="panel_2" class="mb4 mh3">

        <div class="mw8-l center">

          <img src="{{ site.theme.uri }}/dist/img/section_divider.png" class="db center mb5 section-divider h2">

          {{ panels.2 }}

        </div>

      </section>

      <section id="sidebar" class="mb6 mh3">

        <img src="{{ site.theme.uri }}/dist/img/section_divider.png" class="db center mb5 section-divider h2">

        {{ sidebar }}

      </section>

   {% endblock %}
