
{% extends standalone ? 'templates/minimal.twig' : 'templates/app.twig' %}

{% block app %}

  {% import 'macros.twig' as mcro %}

  <h2 class="f2 f1-ns intro-regular tracked tc ttu mb5">{{post.post_title}}</h2>

  <div class="row">

    {% for post in productPosts.postsArray %}

      <div class="col-xs-12 mb5 mw6 mw-100 mw-100-l center
                  col-sm-6
                  col-md-6
                  col-lg-3">
        <article class="h-100 flex flex-column">
          <a href="{{post.link}}" class="db">{{ post.featured_image }}</a>
          <div class="flex flex-column flex-grow-1 justify-between items-stretch v-btm">
            <h3 class="f3 alternateGotNo3D-regular tracked">{{ post.post_title }}</h3>
            <div class="">
              <p class="w-80 mb4 f6 chaparral-pro-regular lh-mega tracked self-end">{{ post.content|striptags }}</p>
              <div class="flex justify-between items-center self-end">
                <span class="f2 f4-l chaparral-pro-italic">{{ '$' ~ post._price }}</span>
                <a href="{{post.link}}" class="ttu f3 f6-l alternateGotNo3D-regular tracked grow no-underline br-pill ba ph3 pv1 dib black mr3">reserve</a>
              </div>
            </div>
          </div>
        </article>
      </div>

    {% endfor %}

  </div>

{% endblock %}
