{% extends standalone ? 'templates/minimal.twig' : 'templates/app.twig' %}

{% block app %}

  {% import 'macros.twig' as mcro %}

  <h2 class="f2 f1-ns intro-regular tracked tc ttu tc mb5">{{post.post_title}}</h2>

  <div class="row">

    {% for post in staffPosts.postsArray %}
      <!-- <div class="col-xs-12 {{ (loop.last) ?: 'mb5' }} -->
      <div class="col-xs-12 mb5 mw6 mw-100 mw-100-l center
                  col-sm-4
                  col-md-4
                  col-lg-4">
        <article class="ph2 tc staff-{{post.post_title}}">

          {{ post.featured_image }}
          <h3 class="mt4 f3 alternateGotNo3D-regular tracked tc">{{ post.post_title }}</h3>
          <p class="f4 chaparral-pro-regular lh-copy tc">{{ post.content|striptags }}</p>
          <img src="{{ site.theme.uri }}/dist/img/staff_divider.png" class="db center mv4 staff-divider h1">

          <div class="chaparral-pro-italic f3">
            <p class="lh-copy">Years of experience<br><span class="chaparral-pro-regular">{{ post.custom.yearsExp }}</span></p>
            <p class="lh-copy">Contact:<br>
              <a class="chaparral-pro-regular link black" href="mailto:{{ post.custom.emailAddress }}">
                {{ post.custom.emailAddress }}
              </a>
            </p>
          </div>
        </article>
      </div>

    {% endfor %}

  </div>

{% endblock %}
