@keyframes slideBelowWindow {
  0% { top: -20vh }
  100% { top: 0vh }
};

@keyframes slideAboveWindow {
  0% { top: 0vh }
  100% { top: -20vh }
};

.slide-above-window {
  top: -20vh;
  animation-name: slideAboveWindow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.slide-below-window {
  animation-name: slideBelowWindow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
