.b--darkslate-gray { border-color: $darkslate-gray; }
.b--dark-gray { border-color: $dark-gray; }
.b--light-gray { border-color: $light-gray; }
.b--gainsboro { border-color: $gainsboro; }
.b--dim-gray { border-color: $dim-gray; }
.b--sienna { border-color: $sienna; }
.b--manatee-gray { border-color: $manatee-gray; }
.b--bright-yellow { border-color: $brightYellow; }
