
.bg-darkslate-gray { background-color: $darkslate-gray; }
.bg-darkslate-gray-90 { background-color: $darkslate-gray-90; }
.bg-darkslate-gray-35 { background-color: $darkslate-gray-35; }

.bg-dark-gray { background-color: $dark-gray; }
.bg-light-gray { background-color: $light-gray; }
.bg-gainsboro { background-color: $gainsboro; }
.bg-gainsboro-90 { background-color: $gainsboro-90; }
.bg-gainsboro-50 { color: $gainsboro-50; }
.bg-dim-gray { background-color: $dim-gray; }
.bg-sienna { background-color: $sienna; }
.bg-sienna-65 { background-color: $sienna-65; }
.bg-manatee-gray { background-color: $manatee-gray; }
.bg-bright-yellow { background-color: $brightYellow; }

.darkslate-gray { color: $darkslate-gray; }
.darkslate-gray-90 { color: $darkslate-gray-90; }
.darkslate-gray-35 { color: $darkslate-gray-35; }
.dark-gray { color: $dark-gray; }
.light-gray { color: $light-gray; }
.gainsboro { color: $gainsboro; }
.gainsboro-90 { color: $gainsboro-90; }
.gainsboro-50 { color: $gainsboro-50; }
.dim-gray { color: $dim-gray; }
.sienna { color: $sienna; }
.sienna-65 { color: $sienna-65; }
.manatee-gray { color: $manatee-gray; }
.bright-yellow { color: $brightYellow; }

.hover-darkslate-gray:hover { color: $darkslate-gray; }
.hover-darkslate-gray-90:hover { color: $darkslate-gray-90; }
.hover-darkslate-gray-35:hover { color: $darkslate-gray-35; }
.hover-dark-gray:hover { color: $dark-gray; }
.hover-light-gray:hover { color: $light-gray; }
.hover-gainsboro:hover { color: $gainsboro; }
.hover-gainsboro-90:hover { color: $gainsboro-90; }
.hover-dim-gray:hover { color: $dim-gray; }
.hover-sienna:hover { color: $sienna; }
.hover-sienna-65:hover { color: $sienna-65; }
.hover-manatee-gray:hover { color: $manatee-gray; }
.hover-bright-yellow:hover { color: $brightYellow; }


.hover-bg-bright-yellow:hover { background-color: $brightYellow; }
.hover-bg-darkslate-gray:hover { background-color: $darkslate-gray; }
