.hamburger {
  .hamburger__layer {
    height: 2px;
    margin-top: 6px;
  }
  &.hamburger--close {
    .hamburger__layer {
      &:first-child {
        transform: rotate(45deg) translateX(5px) translateY(6px);
      }
      &:nth-child(2) {
        background:transparent;
      }
      &:last-child {
        transform: rotate(-45deg) translateX(5px) translateY(-6px);
      }
    }
  }
}
