
.h1 { height: $height-1; }
.h2 { height: $height-2; }
.h3 { height: $height-3; }
.h4 { height: $height-4; }
.h5 { height: $height-5; }
.h6 { height: $height-6; }
.h7 { height: $height-7; }


@media #{$breakpoint-not-small} {
  .h1-ns {  height: $height-1; }
  .h2-ns {  height: $height-2; }
  .h3-ns {  height: $height-3; }
  .h4-ns {  height: $height-4; }
  .h5-ns {  height: $height-5; }
  .h6-ns { height: $height-6; }
  .h7-ns { height: $height-7; }
}

@media #{$breakpoint-medium} {
  .h1-m { height: $height-1; }
  .h2-m { height: $height-2; }
  .h3-m { height: $height-3; }
  .h4-m { height: $height-4; }
  .h5-m { height: $height-5; }
  .h6-m { height: $height-6; }
  .h7-m { height: $height-7; }
}

@media #{$breakpoint-large} {
  .h1-l { height: $height-1; }
  .h2-l { height: $height-2; }
  .h3-l { height: $height-3; }
  .h4-l { height: $height-4; }
  .h5-l { height: $height-5; }
  .h6-l { height: $height-6; }
  .h7-l { height: $height-7; }
}
