
.line-below {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: auto;
    right: 100%;
    bottom: -.5rem;
    left: 0;
    height: 2px;
    background-color: white;
  }
}

.line-hover {
  &.hover,
  &:hover,
  &.btn--active {
    &:after {
      left: 0;
      right: 0;
    }
  }
}

.line-below--left-to-right {
  @extend .line-below;

  &:before {
    left: 0;
    right: 0;
  };

  &:after {
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate3d(0, 0, 0);
    left: 0%;
    right: 100%;
  };
  @extend .line-hover;
}

.line-below--outwards {
  @extend .line-below;
  &:before {
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
  };
  &:after {
    left: 50%;
    right: 50%;
    background-color: white;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate3d(0, 0, 0);
  }
  @extend .line-hover;
}

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

.line-below-hover {
  @extend .line-below--left-to-right;
  &:after {
    background: white;
  }
}
