@font-face {
  font-family: "Intro Regular";
  src: url("../../font/Intro.otf") format("opentype");
}

@font-face {
  font-family: "AlternateGotNo3D Regular";
  src: url("../../font/AlternateGotNo3D Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chaparral Pro Regular";
  src: url("../../font/ChaparralPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Chaparral Pro Italic";
  src: url("../../font/ChaparralPro-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Chaparral Pro Bold";
  src: url("../../font/ChaparralPro-Bold.otf") format("opentype");
}

.intro-regular { font-family: 'Intro Regular'; }
.alternateGotNo3D-regular { font-family: 'AlternateGotNo3D Regular'; }
.chaparral-pro-regular { font-family: 'Chaparral Pro Regular'; }
.chaparral-pro-bold { font-family: 'Chaparral Pro Bold'; }
.chaparral-pro-italic { font-family: 'Chaparral Pro Italic'; }
