#primarySiteMenuModal[data-state=closed] {
  display: none;
}
#primarySiteMenuModal[data-state=open] {
  display: block;
}

%active-mobile-header {
  @extend .fixed;
  @extend .bg-black;
  @extend .shadow-6;
}

#primarySiteMenuMobile[data-state=hide] {
  @extend %active-mobile-header;
  @extend .slide-above-window;
}
#primarySiteMenuMobile[data-state=show] {
  @extend %active-mobile-header;
  @extend .slide-below-window;
}

#primarySiteMenuModal[data-state=hide] {
  @extend .dn;
}
#primarySiteMenuModal[data-state=show] {
  @extend .db;
}

html[data-state=no-scroll] {
  @extend .overflow-hidden;
}
