
  {# About Section #}

  {% embed 'style-guide/templates/components/section.twig' with {
    section:  {
      css: 'relative bg-gainsboro',
    }
  } %}

    {% block content %}

      <svg class="z-0 absolute left-0 top-0 h-50 w-auto h-100-l darkslate-gray" width="936px" height="936px" viewBox="0 0 936 936" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Hero-(fullscreen)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD-Copy-3" transform="translate(0.000000, -811.000000)" fill="currentColor">
                  <g id="About" transform="translate(-641.000000, 811.000000)">
                      <path d="M641,936 L641,8.59702053e-14 L1577,-8.59702053e-14 L645,932 L1341,932 L1341,936 L641,936 Z" id="Combined-Shape"></path>
                  </g>
              </g>
          </g>
      </svg>

      <div class="z-1 mw7 mw8-l center relative">

        {% include 'style-guide/templates/components/page-preview.twig' with { pagePreview: {
          displaytitleCaption: 'about', displaytitleCaptionStyle: 'bright-yellow',
          displaytitle: 'entreprenuers<br/><span class="benton-sans-regular">in cars</span>',
          displayCopy: 'Entrepreneurs in Cars
           is brought to you by Richard Cooper, an entrepreneur, father, self-care advocate and purveyor of the
            cold hard truth.',
          displayCopyStyle: 'mv1',
          buttonTitle: 'About EiC',
        } } %}

      </div>

    {% endblock %}

  {% endembed %}
