
  {# Article Link #}

  <div class="aspect-ratio aspect-ratio--16x9">
    <div class="absolute aspect-ratio--object">

      <a href="#" class="article--video no-underline hide-child">

        <div class="flex items-center justify-center h-100">

          <article class="h-100 w-100 article__image relative gainsboro cover hide-child" style="background-image:url( {{backgroundImage}} );">

            <!-- <div class="absolute absolute--fill bg-darkslate-gray-35 z-1"></div> -->

            <div class="pa3 relative child bg-darkslate-gray-35 h-100 flex flex-column justify-center article__inner">

              <h3 class="f2 f1-m f-subheadline-l benton-sans-black ttu mt0 mb3">{{string}}</h3>

            </div>

            {% block icon %}

              <svg class="h-15 w-15 absolute right-2 bottom-2 child" width="55px" height="54px" viewBox="0 0 55 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Hero-(fullscreen)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Desktop-HD-Copy-3" transform="translate(-835.000000, -886.000000)" fill="#DAA118" fill-rule="nonzero">
                          <g id="Hero">
                              <g id="Block-3" transform="translate(686.000000, 805.000000)">
                                  <g id="play" transform="translate(134.000000, 58.000000)">
                                      <path d="M66.253189,45.6398406 L23.7434752,23.6926848 C20.289561,21.9103353 15,23.6399526 15,28.0483673 L15,71.9321325 C15,75.8870501 19.9151857,78.270547 23.7434752,76.287815 L66.253189,54.3512057 C70.0452487,52.400113 70.0573253,47.5909333 66.253189,45.6398406 Z" id="Shape"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>

            {% endblock %}

          </article>

        </div>

      </a>

    </div>
  </div>
