
  {# block #}

  {% set blockStyle = {

  } %}

  <div class="link aspect-ratio aspect-ratio--16x9 relative">
    <div class="absolute aspect-ratio--object">
      <div class="flex items-center justify-center h-100">
        <a href="{{ blockLink.link }}" class="no-underline w-100 h-100">
          <article class="
          relative w-100 h-100
          ph2 pv2
          ph3-m pv2-m
          ph4-l pv3-l
          flex flex-column justify-end darkslate-gray
          ">
            <div class="h-100 absolute absolute--fill child {{ blockLink.style }}"></div>

            <div class="relative __child flex flex-column h-100 justify-center">

              {% if blockLink.titleString %}

                {% if blockLink.captionString %}

                  {% include 'style-guide/templates/components/display-caption-3.twig' with {
                    string: blockLink.captionString,
                    style: blockLink.captionStyle,
                  } %}

                {% endif %}

                <div class="mt0">

                  {% include 'style-guide/templates/components/display-3.twig' with {
                    string: blockLink.titleString,
                    style: blockLink.titleStyle,
                  } %}

                </div>

              {% endif %}


              {% if iconSvg == true %}

                <button class="absolute right-0 bottom-0 flex items-center justify-start
                f4 benton-sans-black no-underline darkslate-gray bg-transparent bn pa0 ttu border-box
                pointer db">

                  {% block svg %}

                    <svg class="h1 h2-m h2-l" width="33px" height="22px" style="stroke:currentcolor" viewBox="0 0 33 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                            <g id="Primary-Button" transform="translate(-144.000000, 0.000000)" stroke="currentColor" stroke-width="4">
                                <g id="Button">
                                    <g id="Arrow" transform="translate(146.000000, 2.000000)">
                                        <polyline id="Line-2" transform="translate(23.000000, 9.000000) rotate(-90.000000) translate(-23.000000, -9.000000) " points="14.7954545 4.25 23 13.75 31.2045455 4.25"></polyline>
                                        <path d="M0.5,9.25 L26.5,9.25" id="Line-3"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                  {% endblock %}

                </button>

              {% endif %}

            </div>
          </article>
        </a>
      </div>
    </div>
  </div>
