  {# Blocks #}

  <div class="row h-100 w-100 ma0">
    <div class="col-xs-2 dn db-l pa0">

    {% include 'style-guide/templates/components/blockLink.twig' with {
      svgIcon: true,
      blockLink: {
        style: 'bg-darkslate-gray',
        titleString: 'the top 3 mistakes men make',
        titleStyle: 'gainsboro',
        captionString: 'interview',
        captionStyle: 'bright-yellow'
      }
    } %}

    </div>
    <div class="col-xs-2 dn db-l pa0">

      {% include 'style-guide/templates/components/blockLink.twig' with {
        svgIcon: true,
        blockLink: {
          style: 'bg-gainsboro',
          titleString: 'get money right',
          titleStyle: 'darkslate-gray',
          captionString: 'video',
          captionStyle: 'bright-yellow'
        }
      } %}

    </div>
    <div class="col-xs-2 dn db-l pa0">

      {% include 'style-guide/templates/components/blockLinkVideo.twig' with {
        svgIcon: true,
        blockLinkVideo: {
          image: '////entrepreneursincars.ljsherlock.com/app/uploads/2018/09/maxresdefault-1.jpg',
        }
      } %}

    </div>
    <div class="col-xs-100 col-sm-20 col-md-20 col-lg-20 pa0">

      <div class="relative h-100">

        {% include 'style-guide/templates/components/social.twig' with {
          social: {
            css: 'absolute left-2 top-2 flex items-center justify-center',
            itemsCss: 'bright-yellow',
          }
        } %}

      </div>

    </div>
  </div>
