

  {# Button #}

  {% set combo = {
    button: 'flex items-center justify-start bn border-box pointer db f8 f4-l benton-sans-black no-underline darkslate-gray ttu bg-transparent',
    text: '',
    icon: 'h1 h2-l'
  } %}

  <button type="submit" class="pa0 {{ combo.button }} {{ style }}">

    <span class="{{combo.text}} pr1 mr1">{{ string }}</span>

    <svg class="{{ combo.icon }}" width="33px" height="22px" style="stroke:currentcolor" viewBox="0 0 33 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
            <g id="Primary-Button" transform="translate(-144.000000, 0.000000)" stroke="currentColor" stroke-width="4">
                <g id="Button">
                    <g id="Arrow" transform="translate(146.000000, 2.000000)">
                        <polyline id="Line-2" transform="translate(23.000000, 9.000000) rotate(-90.000000) translate(-23.000000, -9.000000) " points="14.7954545 4.25 23 13.75 31.2045455 4.25"></polyline>
                        <path d="M0.5,9.25 L26.5,9.25" id="Line-3"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>

  </button>
