
  {# Call to Action #}

  {% embed 'style-guide/templates/components/section.twig' with {
    section: {
      css: 'relative z1',
      style: "background-image: url( ////entrepreneursincars.ljsherlock.com/app/uploads/2018/09/premier-community.jpg )",
    }
  } %}

    {% block content %}

      <div class="absolute absolute--fill bg-gainsboro-90 z-1"></div>

      <div class="ph2 mw8 center tc z-2 relative">

        <div class="mb4">

          {% include 'style-guide/templates/components/display-1.twig' with {
            string: '<span class="bright-yellow">Join</span> the premier community',
           } %}

         </div>

         <div class="mb4">
           {% include 'style-guide/templates/components/display-copy.twig' with {
            string: 'An exclusive community of extraordinary gentlemen, working on becoming better
            versions of themselves through the pursuit of betterment, self-actualization,
            excellence, and truth.',
            css: 'mw7 center'
           } %}
         </div>

         <div class="flex flex-column flex-row-ns items-center-ns justify-center mb5">

           {% include 'style-guide/templates/components/display-copy.twig' with {
            string: 'Premium Content',
            css: ' mr0 mr4-ns tc '
           } %}
           {% include 'style-guide/templates/components/display-copy.twig' with {
            string: 'Monthly Q + A',
            css: 'bl-ns b-darkslate-gray bw3 pl2 pl4-ns mr0 mr4-ns tc '
           } %}
           {% include 'style-guide/templates/components/display-copy.twig' with {
            string: 'Private Forum',
            css: 'bl-ns b-darkslate-gray bw3 pl2 pl4-ns mr0 mr4-ns tc '
           } %}

         </div>

         <a href="#0" class="ph5 tc f7 f5-l benton-sans-black bw2 ttu no-underline darkslate-gray bg-animate hover-bg-bright-yellow hover-gainsboro pa3 ba bright-yellow b--bright-yellow border-box">
           Join Now</a>
       </div>

      </div>

    {% endblock %}

  {% endembed %}
