
  {# Display Headline 2 #}

  {% set defaultStyle = {
    headline: 'f6 f4-m f2-l ttu benton-sans-black lh-solid darkslate-gray tracked-tight',
  } %}

  <h1 class="{{ defaultStyle.headline }} {{ display2Style }} mv1">
    {{ string }}
  </h1>
