
  {# Display Headline 1 #}

  {% set displayCopy = {
    style: 'f6 f5-m f4-l benton-sans-regular lh-copy tracked'
  } %}

  <h2 class="{{attribute(displayCopy, 'style')}} {{ css }}"> {{ string }} </h2>
