
  {# Display Caption 2 #}

  {% set displayCpation2 = {
    headline: 'f8 f7-m f6-l ttu benton-sans-regular lh-solid darkslate-gray tracked'
  } %}

  <h1 class="{{ displayCpation2.headline }} {{ displayCpation2Style }} mv1 ">
    {{ string }}
  </h1>
