
  {# Display Headline 1 #}

  {% set combo = {
    headline: '  f5 ttu benton-sans-black lh-solid darkslate-gray tracked-tight'
  } %}

  <h1 class="{{ combo.headline }} {{ style }} mv1">
    {{string}}
  </h1>
