
  {# Display Headline 1 #}

  {% set display1 = {
    style: 'f3 lh-solid tracked-tight ttu benton-sans-black f3 f2-m f1-l'
  } %}

  <h1 class="{{ display1.style }} {{ style }} mv1"> {{ string }} </h1>
