
  {# Display Headline 1 #}

  {% set combo = {
    headline: '  f9 f8-l ttu benton-sans-regular lh-solid darkslate-gray tracked'
  } %}

  <h1 class="{{ combo.headline }} {{ style }} mv1 ">
    {{string}}
  </h1>
