
  {# Display Headline 1 #}

  <div class="center pv3 {{ displayHeadline1.style }}">

    <div class="mb4">

      {% include 'style-guide/templates/components/display-1.twig' with {
        string: displayHeadline1.displayTitle,
        style: displayHeadline1.displayTitleStyle
      } %}

    </div>

     {% include 'style-guide/templates/components/display-copy.twig' with {
      string: displayHeadline1.displayCopy,
      css: displayHeadline1.displayCopyStyle
    } %}

  </div>
