
  {# Footer #}

  {% embed 'style-guide/templates/components/section.twig' with {
    section: {
      css: 'relative z1 gainsboro',
    }
  } %}

    {% block content %}

      <div class="mw8 center">

        <div class="row mh2 justify-between">

            <div class="darkslate-gray w-100-m w-60-l tc tl-l mb4 mb0-l order-1 order-0-l">

              <div class="mb4">

                <svg width="318px" height="17px" viewBox="0 0 318 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Hero-(fullscreen)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Desktop-HD-Copy-3" transform="translate(-32.000000, -40.000000)" fill="currentColor">
                            <g id="Header" transform="translate(32.000000, 36.000000)">
                                <path d="M0,20.2619509 L0,4.29490584 L12.9092561,4.29490584 L12.9092561,7.87590539 L4.89167746,7.87590539 L4.89167746,10.4668639 L10.6065884,10.4668639 L10.6065884,13.8372164 L4.89167746,13.8372164 L4.89167746,16.7862748 L13.3149074,16.7862748 L13.3149074,20.2619509 L0,20.2619509 Z M15.8523756,20.2619509 L15.8523756,4.29490584 L20.6724676,4.29490584 L27.2941285,13.2474047 L27.3418522,13.2474047 L27.3418522,4.29490584 L31.8159474,4.29490584 L31.8159474,20.2619509 L27.2941285,20.2619509 L20.3741945,11.3305167 L20.3264709,11.3305167 L20.3264709,20.2619509 L15.8523756,20.2619509 Z M34.0074189,7.87590539 L34.0074189,4.29490584 L49.3028592,4.29490584 L49.3028592,7.87590539 L44.1009778,7.87590539 L44.1009778,20.2619509 L39.2093003,20.2619509 L39.2093003,7.87590539 L34.0074189,7.87590539 Z M51.4943307,20.2619509 L51.4943307,4.29490584 L58.5574357,4.29490584 C59.7187178,4.29490584 60.7626629,4.38618531 61.6893023,4.56874699 C62.6159418,4.75130866 63.4013862,5.04621156 64.0456592,5.45346452 C64.6899321,5.86071749 65.1830719,6.39610667 65.5250933,7.05964814 C65.8671148,7.72318961 66.0381229,8.53592795 66.0381229,9.49788753 C66.0381229,10.761776 65.7398529,11.7640948 65.1433039,12.5048739 C64.5467549,13.245653 63.6559217,13.7950852 62.4707776,14.1531869 L66.3006032,20.2619509 L61.1225836,20.2619509 L57.6268239,14.7219339 L56.2905608,14.7219339 L56.2905608,20.2619509 L51.4943307,20.2619509 Z M56.2905608,11.4358402 L58.3904028,11.4358402 C59.4005591,11.4358402 60.1343034,11.3006764 60.5916576,11.0303447 C61.0490119,10.760013 61.2776856,10.2843065 61.2776856,9.60321105 C61.2776856,8.92913718 61.0490119,8.45869684 60.5916576,8.19187594 C60.1343034,7.92505503 59.4005591,7.79164658 58.3904028,7.79164658 L56.2905608,7.79164658 L56.2905608,11.4358402 Z M69.1602062,20.2619509 L69.1602062,4.29490584 L82.0694623,4.29490584 L82.0694623,7.87590539 L74.0518837,7.87590539 L74.0518837,10.4668639 L79.7667947,10.4668639 L79.7667947,13.8372164 L74.0518837,13.8372164 L74.0518837,16.7862748 L82.4751136,16.7862748 L82.4751136,20.2619509 L69.1602062,20.2619509 Z M85.0125818,20.2619509 L85.0125818,4.29490584 L91.7893448,4.29490584 C92.7438232,4.29490584 93.6903334,4.35634395 94.6289039,4.479222 C95.5674743,4.60210005 96.4026304,4.85838471 97.1343972,5.24808366 C97.866164,5.63778262 98.4607156,6.18897018 98.9180698,6.90166287 C99.3754241,7.61435555 99.6040978,8.56050234 99.6040978,9.74013162 C99.6040978,10.9197609 99.3634933,11.8641523 98.8822771,12.5733342 C98.4010609,13.2825161 97.7826477,13.8319483 97.0270189,14.2216472 C96.2713902,14.6113462 95.4282802,14.8676308 94.4976637,14.9905089 C93.5670473,15.1133869 92.6642833,15.174825 91.7893448,15.174825 L89.8565356,15.174825 L89.8565356,20.2619509 L85.0125818,20.2619509 Z M89.8565356,11.8887313 L91.9563777,11.8887313 C92.5290647,11.8887313 92.9983429,11.8395809 93.3642263,11.7412784 C93.7301097,11.642976 94.0224143,11.5043014 94.241149,11.3252505 C94.4598836,11.1461997 94.614984,10.9302886 94.7064549,10.6775109 C94.7979257,10.4247332 94.8436604,10.1473841 94.8436604,9.84545514 C94.8436604,9.54352622 94.7979257,9.26617706 94.7064549,9.01339936 C94.614984,8.76062166 94.4598836,8.54471061 94.241149,8.36565974 C94.0224143,8.18660887 93.7301097,8.04617892 93.3642263,7.94436567 C92.9983429,7.84255243 92.5290647,7.79164658 91.9563777,7.79164658 L89.8565356,7.79164658 L89.8565356,11.8887313 Z M101.962602,20.2619509 L101.962602,4.29490584 L109.025707,4.29490584 C110.186989,4.29490584 111.230934,4.38618531 112.157574,4.56874699 C113.084213,4.75130866 113.869658,5.04621156 114.513931,5.45346452 C115.158204,5.86071749 115.651343,6.39610667 115.993365,7.05964814 C116.335386,7.72318961 116.506394,8.53592795 116.506394,9.49788753 C116.506394,10.761776 116.208124,11.7640948 115.611575,12.5048739 C115.015026,13.245653 114.124193,13.7950852 112.939049,14.1531869 L116.768875,20.2619509 L111.590855,20.2619509 L108.095095,14.7219339 L106.758832,14.7219339 L106.758832,20.2619509 L101.962602,20.2619509 Z M106.758832,11.4358402 L108.858674,11.4358402 C109.868831,11.4358402 110.602575,11.3006764 111.059929,11.0303447 C111.517283,10.760013 111.745957,10.2843065 111.745957,9.60321105 C111.745957,8.92913718 111.517283,8.45869684 111.059929,8.19187594 C110.602575,7.92505503 109.868831,7.79164658 108.858674,7.79164658 L106.758832,7.79164658 L106.758832,11.4358402 Z M119.628478,20.2619509 L119.628478,4.29490584 L132.537734,4.29490584 L132.537734,7.87590539 L124.520155,7.87590539 L124.520155,10.4668639 L130.235066,10.4668639 L130.235066,13.8372164 L124.520155,13.8372164 L124.520155,16.7862748 L132.943385,16.7862748 L132.943385,20.2619509 L119.628478,20.2619509 Z M135.480853,20.2619509 L135.480853,4.29490584 L140.300945,4.29490584 L146.922606,13.2474047 L146.97033,13.2474047 L146.97033,4.29490584 L151.444425,4.29490584 L151.444425,20.2619509 L146.922606,20.2619509 L140.002672,11.3305167 L139.954949,11.3305167 L139.954949,20.2619509 L135.480853,20.2619509 Z M154.900574,20.2619509 L154.900574,4.29490584 L167.80983,4.29490584 L167.80983,7.87590539 L159.792252,7.87590539 L159.792252,10.4668639 L165.507163,10.4668639 L165.507163,13.8372164 L159.792252,13.8372164 L159.792252,16.7862748 L168.215482,16.7862748 L168.215482,20.2619509 L154.900574,20.2619509 Z M170.156404,13.8582811 L170.156404,4.29490584 L175.03615,4.29490584 L175.03615,13.8372164 C175.03615,14.939608 175.252893,15.7470803 175.686386,16.2596573 C176.119878,16.7722343 176.825784,17.0285189 177.804124,17.0285189 C178.77451,17.0285189 179.472462,16.7722343 179.898001,16.2596573 C180.323539,15.7470803 180.536305,14.939608 180.536305,13.8372164 L180.536305,4.29490584 L185.320604,4.29490584 L185.320604,13.8582811 C185.320604,15.9717836 184.718098,17.6077925 183.513069,18.7663569 C182.30804,19.9249214 180.38917,20.504195 177.7564,20.504195 C175.115677,20.504195 173.188852,19.9249214 171.975869,18.7663569 C170.762886,17.6077925 170.156404,15.9717836 170.156404,13.8582811 Z M188.418825,20.2619509 L188.418825,4.29490584 L195.48193,4.29490584 C196.643212,4.29490584 197.687158,4.38618531 198.613797,4.56874699 C199.540437,4.75130866 200.325881,5.04621156 200.970154,5.45346452 C201.614427,5.86071749 202.107567,6.39610667 202.449588,7.05964814 C202.791609,7.72318961 202.962618,8.53592795 202.962618,9.49788753 C202.962618,10.761776 202.664348,11.7640948 202.067799,12.5048739 C201.47125,13.245653 200.580416,13.7950852 199.395272,14.1531869 L203.225098,20.2619509 L198.047078,20.2619509 L194.551319,14.7219339 L193.215055,14.7219339 L193.215055,20.2619509 L188.418825,20.2619509 Z M193.215055,11.4358402 L195.314898,11.4358402 C196.325054,11.4358402 197.058798,11.3006764 197.516152,11.0303447 C197.973507,10.760013 198.20218,10.2843065 198.20218,9.60321105 C198.20218,8.92913718 197.973507,8.45869684 197.516152,8.19187594 C197.058798,7.92505503 196.325054,7.79164658 195.314898,7.79164658 L193.215055,7.79164658 L193.215055,11.4358402 Z M204.820023,16.7441454 L208.435092,14.7640633 C208.975963,15.5364396 209.665961,16.1315116 210.505107,16.5492969 C211.344253,16.9670823 212.237074,17.1759719 213.183599,17.1759719 C213.931273,17.1759719 214.553664,17.0724048 215.050788,16.8652675 C215.547912,16.6581302 215.79647,16.3017892 215.79647,15.7962338 C215.79647,15.5364345 215.710966,15.3170127 215.539956,15.1379618 C215.368945,14.9589109 215.136294,14.8009272 214.841997,14.664006 C214.547699,14.5270847 214.205683,14.4077193 213.815938,14.305906 C213.426192,14.2040928 213.012591,14.1040365 212.575122,14.005734 C211.835401,13.8372156 211.059899,13.6546566 210.248592,13.4580517 C209.437286,13.2614469 208.693599,12.9876085 208.01751,12.6365283 C207.341421,12.2854482 206.782662,11.8255401 206.341216,11.2567903 C205.899769,10.6880404 205.67905,9.95078318 205.67905,9.04499642 C205.67905,8.22346888 205.846081,7.50025464 206.180148,6.87533199 C206.514216,6.25040933 206.981505,5.72555239 207.582031,5.30074542 C208.182558,4.87593845 208.906359,4.55294956 209.753459,4.33176908 C210.600559,4.11058859 211.541103,4 212.575122,4 C213.5296,4 214.394583,4.08952409 215.170097,4.26857497 C215.945611,4.44762584 216.643563,4.68460138 217.263974,4.9795087 C217.884385,5.27441602 218.429224,5.60793715 218.89851,5.9800821 C219.367795,6.35222705 219.781396,6.73489867 220.139325,7.12810842 L216.870253,9.49788753 C216.62368,9.22404502 216.329387,8.96951574 215.987365,8.73429204 C215.645344,8.49906835 215.28742,8.28666805 214.913582,8.09708477 C214.539745,7.9075015 214.150005,7.76005005 213.744352,7.654726 C213.338699,7.54940196 212.937028,7.49674073 212.539329,7.49674073 C211.139427,7.49674073 210.439487,7.88292309 210.439487,8.65529941 C210.439487,8.91509871 210.521014,9.13803126 210.684071,9.32410373 C210.847128,9.51017621 211.075801,9.6751814 211.370099,9.81912426 C211.664396,9.96306712 212.006413,10.0859433 212.396158,10.1877566 C212.785903,10.2895698 213.203481,10.3896261 213.648905,10.4879286 C214.380671,10.6494255 215.154185,10.830229 215.969469,11.0303447 C216.784752,11.2304604 217.534404,11.514831 218.218447,11.8834652 C218.90249,12.2520993 219.463238,12.7225397 219.900707,13.2948003 C220.338176,13.8670609 220.556908,14.599052 220.556908,15.4907956 C220.556908,16.1297615 220.42368,16.7546747 220.157222,17.3655542 C219.890763,17.9764336 219.455289,18.5188443 218.850786,18.9928025 C218.246283,19.4667607 217.45885,19.8476769 216.488464,20.1355626 C215.518077,20.4234484 214.340905,20.5673891 212.956911,20.5673891 C211.930847,20.5673891 210.998256,20.4690881 210.15911,20.2724832 C209.319965,20.0758783 208.570313,19.8090614 207.910132,19.4720245 C207.249951,19.1349876 206.66733,18.7330068 206.162252,18.2660702 C205.657174,17.7991337 205.209769,17.2918305 204.820023,16.7441454 Z M230.939053,20.2619509 L230.939053,5.54233124 L232.91884,5.54233124 L232.91884,20.2619509 L230.939053,20.2619509 Z M237.333005,20.2619509 L237.333005,5.54233124 L239.433779,5.54233124 L248.199837,17.1840357 L248.243832,17.1840357 L248.243832,5.54233124 L250.113631,5.54233124 L250.113631,20.2619509 L248.331822,20.2619509 L239.246799,8.30954205 L239.202804,8.30954205 L239.202804,20.2619509 L237.333005,20.2619509 Z M258.85397,12.843884 C258.85397,11.6916828 259.026283,10.6511573 259.370914,9.72227599 C259.715546,8.79339474 260.199489,7.99722275 260.822758,7.33373613 C261.446028,6.67024952 262.192107,6.16050526 263.061017,5.80448805 C263.929928,5.44847084 264.884983,5.27046491 265.926209,5.27046491 C266.813452,5.27046491 267.598026,5.37888671 268.279956,5.59573355 C268.961886,5.8125804 269.553984,6.11680872 270.056265,6.50842764 C270.558547,6.90004657 270.974665,7.37418965 271.304631,7.9308711 C271.634597,8.48755255 271.898566,9.10571861 272.096546,9.78538782 L270.204749,10.2417349 C269.845453,9.11542589 269.343179,8.27394329 268.697911,7.71726184 C268.052644,7.16058039 267.12142,6.88224384 265.904212,6.88224384 C265.119626,6.88224384 264.415708,7.02141212 263.792439,7.29975284 C263.169169,7.57809357 262.639398,7.97456133 262.20311,8.48916802 C261.766821,9.00377471 261.433194,9.62679547 261.202217,10.358249 C260.971241,11.0897025 260.855755,11.9117663 260.855755,12.824465 C260.855755,14.7857961 261.314034,16.2972283 262.230607,17.3588069 C263.147179,18.4203855 264.386367,18.9511668 265.948207,18.9511668 C268.272635,18.9511668 269.779458,17.7633818 270.468721,15.387776 L272.33852,15.766447 C272.133208,16.4979005 271.849074,17.1549042 271.486112,17.7374778 C271.123149,18.3200515 270.675868,18.8200863 270.144256,19.2375974 C269.612644,19.6551085 268.99305,19.9771374 268.285456,20.2036938 C267.577862,20.4302502 266.791454,20.5435267 265.926209,20.5435267 C264.855653,20.5435267 263.889599,20.367139 263.028021,20.0143583 C262.166443,19.6615776 261.42403,19.1534516 260.80076,18.489965 C260.177491,17.8264784 259.697214,17.020597 259.359915,16.0722966 C259.022617,15.1239962 258.85397,14.0478694 258.85397,12.843884 Z M273.684015,20.2619509 L279.579381,5.48407417 L281.658157,5.48407417 L287.553523,20.2619509 L285.507743,20.2619509 L283.857921,16.0480228 L277.236633,16.0480228 L275.597809,20.2619509 L273.684015,20.2619509 Z M277.841568,14.51392 L283.252986,14.51392 L280.591272,7.61045721 L280.547277,7.61045721 L277.841568,14.51392 Z M290.416855,20.2619509 L290.416855,5.54233124 L296.147239,5.54233124 C298.05371,5.54233124 299.516538,5.88701545 300.535767,6.57639423 C301.554996,7.265773 302.064603,8.2933527 302.064603,9.65916417 C302.064603,10.8566766 301.71631,11.772598 301.019715,12.406956 C300.32312,13.0413139 299.380897,13.4717646 298.193019,13.698321 L302.295578,20.2619509 L300.128811,20.2619509 L296.147239,13.9216398 L292.385643,13.9216398 L292.385643,20.2619509 L290.416855,20.2619509 Z M292.385643,12.3681179 L296.026252,12.3681179 C297.331451,12.3681179 298.337833,12.1787843 299.045427,11.8001115 C299.753021,11.4214386 300.106813,10.730452 300.106813,9.72713075 C300.106813,8.75617473 299.758521,8.08137042 299.061925,7.70269758 C298.36533,7.32402473 297.346117,7.13469114 296.004254,7.13469114 L292.385643,7.13469114 L292.385643,12.3681179 Z M304.927934,16.6985601 L306.588756,16.0480228 C307.006713,17.038398 307.618974,17.7763135 308.425558,18.2617915 C309.232142,18.7472695 310.196362,18.9900048 311.318247,18.9900048 C312.49146,18.9900048 313.435516,18.7812524 314.150443,18.3637413 C314.865369,17.9462303 315.222827,17.3458648 315.222827,16.5626269 C315.222827,16.2066097 315.158668,15.8861991 315.030348,15.6013853 C314.902028,15.3165715 314.68022,15.0544173 314.364919,14.8149148 C314.049618,14.5754124 313.620669,14.3488594 313.078058,14.135249 C312.535447,13.9216387 311.853527,13.7047951 311.032278,13.4847118 C310.159701,13.2452093 309.380625,13.0057104 308.695029,12.7662079 C308.009433,12.5267054 307.430167,12.2483689 306.957216,11.9311899 C306.484264,11.6140109 306.121307,11.2337255 305.868333,10.7903223 C305.615359,10.346919 305.488874,9.80481005 305.488874,9.16397908 C305.488874,8.60729763 305.619025,8.09108042 305.879332,7.61531197 C306.139638,7.13954352 306.506262,6.72527517 306.979214,6.37249448 C307.452165,6.0197138 308.016765,5.74785019 308.673031,5.5568955 C309.329297,5.36594082 310.053379,5.27046491 310.845298,5.27046491 C311.644549,5.27046491 312.359465,5.35299494 312.990067,5.51805746 C313.620669,5.68311998 314.176104,5.91452769 314.656388,6.21228754 C315.136672,6.51004739 315.549124,6.86120454 315.893755,7.26576955 C316.238386,7.67033456 316.51702,8.10563998 316.729665,8.57169887 L315.145836,9.3484598 C314.698548,8.45518026 314.113783,7.81759537 313.391524,7.43568601 C312.669265,7.05377664 311.813199,6.86282482 310.8233,6.86282482 C309.760076,6.86282482 308.931507,7.06510429 308.337568,7.4696693 C307.743628,7.8742343 307.446663,8.39368798 307.446663,9.02804591 C307.446663,9.42290136 307.521821,9.75625793 307.672139,10.0281256 C307.822457,10.2999933 308.069928,10.5459651 308.414559,10.7660485 C308.759191,10.9861319 309.213804,11.1948843 309.778413,11.392312 C310.343021,11.5897397 311.028607,11.8017286 311.835191,12.028285 C312.678438,12.2548414 313.430017,12.4975768 314.089949,12.7564984 C314.749881,13.01542 315.308982,13.3131754 315.767269,13.6497734 C316.225555,13.9863715 316.575681,14.3812211 316.817656,14.8343339 C317.059631,15.2874467 317.180617,15.8247009 317.180617,16.4461128 C317.180617,17.0545786 317.037634,17.6112517 316.751663,18.1161488 C316.465692,18.6210459 316.060573,19.0514966 315.536294,19.4075138 C315.012014,19.7635311 314.385088,20.0418676 313.655496,20.2425318 C312.925904,20.4431961 312.117499,20.5435267 311.230256,20.5435267 C309.639086,20.5435267 308.299077,20.195606 307.210189,19.4997542 C306.1213,18.8039024 305.360556,17.8701804 304.927934,16.6985601 Z" id="ENTREPRENEURS-IN-CAR"></path>
                            </g>
                        </g>
                    </g>
                </svg>

              </div>
              <div class="mb4">

                {% include 'style-guide/templates/components/display-copy.twig' with {
                 string: 'Chasing excellence and empowering men',
                 css: ''
                } %}

              </div>
              <div class="mb4">

                <nav class="">
                  <a class="link dim benton-sans-black darkslate-gray f6 f6-ns dib mr3" href="#">About EiC</a>
                  <a class="link dim benton-sans-black darkslate-gray f6 f6-ns dib mr3" href="#">Community</a>
                  <a class="link dim benton-sans-black darkslate-gray f6 f6-ns dib mr3" href="#">Newsletter</a>
                  <a class="link dim benton-sans-black darkslate-gray f6 f6-ns dib mr3" href="#">Interviews</a>
                  <a class="link dim benton-sans-black darkslate-gray f6 f6-ns dib mr3" href="#">Events</a>
                  <a class="link dim benton-sans-black darkslate-gray f6 f6-ns dib mr3" href="#">Requests</a>
                </nav>

              </div>
              <div class="mb5">

                  {% include 'style-guide/templates/components/social.twig' with {
                    social: {
                      css: 'darkslate-gray items-center justify-start',
                    }
                  } %}

              </div>
              <div class="">

                <small class="benton-sans-regular dib tc tracked f6">© Entrepreneurs in Cars 2018.</small>
                <small class="benton-sans-regular dib tc tracked f6">All Rights Reserved.</small>

              </div>

            </div>

            <div class="tc tr-l w-100 w-40-l">

              <a href="#" class="dim db">
                {% include 'style-guide/templates/components/display-copy.twig' with {
                 string: 'Subscribe <span class="benton-sans-black">here</span> for updates',
                 css: 'order-0 order-1-l underline bright-yellow mb4 mbv-l'
                } %}
              </a>

            </div>

        </div>

      </div>

    {% endblock content %}

  {% endembed %}
