
  {# Hero #}

  <div class="z-1 vh-100 cover bg-left bg-darkslate-gray relative z-0">

    <div class="fill-width-1  mv5 w-70 absolute absolute--fill z-1 cover bg-center" style="margin-left:30%; background-image: url(https:////entrepreneursincars.ljsherlock.com/app/uploads/2018/09/EiC-Hero-Image.jpg-color.jpg)"></div>
    <div class="fill-width-1  mv5 w-70 absolute absolute--fill bg-darkslate-gray o-50 z-2" style="margin-left:30%;" ></div>

    <div class="vh-100 flex flex-column justify-between relative z-2">

      <div class="h-100 relative">

        <div class="w-80 h-100 center flex flex-column justify-center">

          <div class="">

            <?xml version="1.0" encoding="UTF-8"?>
            <svg class="w-80 w-50-l w-60-m h-auto mb2 mb4-l mb3-m slide-in-1" width="670px" height="309px" viewBox="0 0 670 309" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                <title>Group 8</title>
                <desc>Created with Sketch.</desc>
                <defs>
                    <linearGradient x1="0%" y1="50%" x2="196.673487%" y2="50%" id="linearGradient-1">
                        <stop stop-color="#D6D6D6" offset="0%"></stop>
                        <stop stop-color="#E7E3E3" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g id="Hero-(fullscreen)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Desktop-HD-Copy-3" transform="translate(-173.000000, -231.000000)">
                        <g id="Hero" transform="translate(0.000000, 1.000000)">
                            <g id="Title" transform="translate(173.000000, 230.000000)">
                                <g id="Group-8">
                                    <path d="M0.1875,23.5 L0.1875,2.25 L80.3125,2.25 L80.3125,23.5 L53.0625,23.5 L53.0625,97 L27.4375,97 L27.4375,23.5 L0.1875,23.5 Z M91.7925,97 L91.7925,2.25 L117.4175,2.25 L117.4175,37.5 L148.9175,37.5 L148.9175,2.25 L174.48,2.25 L174.48,97 L148.9175,97 L148.9175,58.75 L117.4175,58.75 L117.4175,97 L91.7925,97 Z M192.6475,97 L192.6475,2.25 L260.2725,2.25 L260.2725,23.5 L218.2725,23.5 L218.2725,38.875 L248.21,38.875 L248.21,58.875 L218.2725,58.875 L218.2725,76.375 L262.3975,76.375 L262.3975,97 L192.6475,97 Z M308.3575,49.625 C308.3575,40.9166231 309.544988,33.4687809 311.92,27.28125 C314.295012,21.0937191 317.492897,16.0208531 321.51375,12.0625 C325.534603,8.10414688 330.232473,5.18750937 335.6075,3.3125 C340.982527,1.43749063 346.690803,0.5 352.7325,0.5 C359.232533,0.5 364.78456,1.29165875 369.38875,2.875 C373.99294,4.45834125 377.857484,6.59373656 380.9825,9.28125 C384.107516,11.9687634 386.607491,15.1666481 388.4825,18.875 C390.357509,22.5833519 391.794995,26.5208125 392.795,30.6875 L368.6075,37.875 C367.94083,35.5833219 367.201254,33.4479266 366.38875,31.46875 C365.576246,29.4895734 364.576256,27.7812572 363.38875,26.34375 C362.201244,24.9062428 360.732509,23.7604209 358.9825,22.90625 C357.232491,22.0520791 355.107513,21.625 352.6075,21.625 C346.232468,21.625 341.524182,24.0728922 338.4825,28.96875 C335.440818,33.8646078 333.92,40.7499556 333.92,49.625 C333.92,58.3333769 335.503318,65.2916406 338.67,70.5 C341.836682,75.7083594 346.565802,78.3125 352.8575,78.3125 C357.815858,78.3125 361.534571,76.7812653 364.01375,73.71875 C366.492929,70.6562347 368.461659,66.1666963 369.92,60.25 L394.1075,65.625 C392.899161,70.4166906 391.29501,74.8333131 389.295,78.875 C387.29499,82.9166869 384.649183,86.4166519 381.3575,89.375 C378.065817,92.3333481 374.097107,94.645825 369.45125,96.3125 C364.805393,97.979175 359.232533,98.8125 352.7325,98.8125 C346.524136,98.8125 340.711694,97.8750094 335.295,96 C329.878306,94.1249906 325.180437,91.1979366 321.20125,87.21875 C317.222063,83.2395634 314.086678,78.1562809 311.795,71.96875 C309.503322,65.7812191 308.3575,58.3333769 308.3575,49.625 Z M402.4625,49.625 C402.4625,40.9166231 403.806237,33.4687809 406.49375,27.28125 C409.181263,21.0937191 412.722895,16.0208531 417.11875,12.0625 C421.514605,8.10414688 426.504139,5.18750937 432.0875,3.3125 C437.670861,1.43749063 443.316638,0.5 449.025,0.5 C454.733362,0.5 460.368722,1.43749063 465.93125,3.3125 C471.493778,5.18750937 476.472895,8.10414688 480.86875,12.0625 C485.264605,16.0208531 488.806237,21.0937191 491.49375,27.28125 C494.181263,33.4687809 495.525,40.9166231 495.525,49.625 C495.525,58.3333769 494.181263,65.7812191 491.49375,71.96875 C488.806237,78.1562809 485.264605,83.2395634 480.86875,87.21875 C476.472895,91.1979366 471.493778,94.1249906 465.93125,96 C460.368722,97.8750094 454.733362,98.8125 449.025,98.8125 C443.316638,98.8125 437.670861,97.8750094 432.0875,96 C426.504139,94.1249906 421.514605,91.1979366 417.11875,87.21875 C412.722895,83.2395634 409.181263,78.1562809 406.49375,71.96875 C403.806237,65.7812191 402.4625,58.3333769 402.4625,49.625 Z M428.025,49.625 C428.025,58.3333769 429.837482,65.2916406 433.4625,70.5 C437.087518,75.7083594 442.274966,78.3125 449.025,78.3125 C455.6917,78.3125 460.837482,75.7083594 464.4625,70.5 C468.087518,65.2916406 469.9,58.3333769 469.9,49.625 C469.9,40.8332894 468.087518,33.9687747 464.4625,29.03125 C460.837482,24.0937253 455.6917,21.625 449.025,21.625 C442.274966,21.625 437.087518,24.0937253 433.4625,29.03125 C429.837482,33.9687747 428.025,40.8332894 428.025,49.625 Z M509.13,97 L509.13,2.25 L534.755,2.25 L534.755,76.375 L574.5675,76.375 L574.5675,97 L509.13,97 Z M585.7975,97 L585.7975,2.25 L616.9225,2.25 C623.922535,2.25 630.578718,2.9999925 636.89125,4.5 C643.203782,6.0000075 648.745393,8.54164875 653.51625,12.125 C658.287107,15.7083513 662.068319,20.5103866 664.86,26.53125 C667.651681,32.5521134 669.0475,40.0416219 669.0475,49 C669.0475,58.2917131 667.630848,66.0312191 664.7975,72.21875 C661.964153,78.4062809 658.162107,83.333315 653.39125,87 C648.620393,90.666685 643.078782,93.2499925 636.76625,94.75 C630.453718,96.2500075 623.839201,97 616.9225,97 L585.7975,97 Z M611.2975,76.375 L618.36,76.375 C623.193358,76.375 627.214151,75.8645884 630.4225,74.84375 C633.630849,73.8229116 636.193324,72.2291775 638.11,70.0625 C640.026676,67.8958225 641.391246,65.0833506 642.20375,61.625 C643.016254,58.1666494 643.4225,54.0416906 643.4225,49.25 C643.4225,44.916645 643.016254,41.1250162 642.20375,37.875 C641.391246,34.6249838 640.005843,31.9375106 638.0475,29.8125 C636.089157,27.6874894 633.485016,26.1041719 630.235,25.0625 C626.984984,24.0208281 622.922524,23.5 618.0475,23.5 L611.2975,23.5 L611.2975,76.375 Z M6.8125,202 L6.8125,107.25 L32.4375,107.25 L32.4375,142.5 L63.9375,142.5 L63.9375,107.25 L89.5,107.25 L89.5,202 L63.9375,202 L63.9375,163.75 L32.4375,163.75 L32.4375,202 L6.8125,202 Z M100.105,202 L133.6675,106.875 L157.48,106.875 L191.0425,202 L165.1675,202 L159.4175,184.3125 L129.605,184.3125 L123.4175,202 L100.105,202 Z M135.605,166.1875 L153.6675,166.1875 L144.9175,139.9375 L144.6675,139.9375 L135.605,166.1875 Z M201.585,202 L201.585,107.25 L238.585,107.25 C244.668364,107.25 250.137059,107.791661 254.99125,108.875 C259.845441,109.958339 263.959983,111.708321 267.335,114.125 C270.710017,116.541679 273.293324,119.71873 275.085,123.65625 C276.876676,127.59377 277.7725,132.416638 277.7725,138.125 C277.7725,145.625038 276.210016,151.572895 273.085,155.96875 C269.959984,160.364605 265.293364,163.624989 259.085,165.75 L279.1475,202 L252.0225,202 L233.71,169.125 L226.71,169.125 L226.71,202 L201.585,202 Z M226.71,149.625 L237.71,149.625 C243.001693,149.625 246.845405,148.822925 249.24125,147.21875 C251.637095,145.614575 252.835,142.791687 252.835,138.75 C252.835,134.74998 251.637095,131.958341 249.24125,130.375 C246.845405,128.791659 243.001693,128 237.71,128 L226.71,128 L226.71,149.625 Z M294.1275,202 L294.1275,107.25 L325.2525,107.25 C332.252535,107.25 338.908718,107.999992 345.22125,109.5 C351.533782,111.000008 357.075393,113.541649 361.84625,117.125 C366.617107,120.708351 370.398319,125.510387 373.19,131.53125 C375.981681,137.552113 377.3775,145.041622 377.3775,154 C377.3775,163.291713 375.960847,171.031219 373.1275,177.21875 C370.294152,183.406281 366.492107,188.333315 361.72125,192 C356.950393,195.666685 351.408782,198.249993 345.09625,199.75 C338.783718,201.250007 332.169201,202 325.2525,202 L294.1275,202 Z M319.6275,181.375 L326.69,181.375 C331.523357,181.375 335.544151,180.864588 338.7525,179.84375 C341.960849,178.822912 344.523324,177.229177 346.44,175.0625 C348.356676,172.895823 349.721246,170.083351 350.53375,166.625 C351.346254,163.166649 351.7525,159.041691 351.7525,154.25 C351.7525,149.916645 351.346254,146.125016 350.53375,142.875 C349.721246,139.624984 348.335843,136.937511 346.3775,134.8125 C344.419157,132.687489 341.815016,131.104172 338.565,130.0625 C335.314984,129.020828 331.252524,128.5 326.3775,128.5 L319.6275,128.5 L319.6275,181.375 Z M0.1875,233.5 L0.1875,212.25 L80.3125,212.25 L80.3125,233.5 L53.0625,233.5 L53.0625,307 L27.4375,307 L27.4375,233.5 L0.1875,233.5 Z M91.7925,307 L91.7925,212.25 L128.7925,212.25 C134.875864,212.25 140.344559,212.791661 145.19875,213.875 C150.052941,214.958339 154.167483,216.708321 157.5425,219.125 C160.917517,221.541679 163.500824,224.71873 165.2925,228.65625 C167.084176,232.59377 167.98,237.416638 167.98,243.125 C167.98,250.625038 166.417516,256.572895 163.2925,260.96875 C160.167484,265.364605 155.500864,268.624989 149.2925,270.75 L169.355,307 L142.23,307 L123.9175,274.125 L116.9175,274.125 L116.9175,307 L91.7925,307 Z M116.9175,254.625 L127.9175,254.625 C133.209193,254.625 137.052905,253.822925 139.44875,252.21875 C141.844595,250.614575 143.0425,247.791687 143.0425,243.75 C143.0425,239.74998 141.844595,236.958341 139.44875,235.375 C137.052905,233.791659 133.209193,233 127.9175,233 L116.9175,233 L116.9175,254.625 Z M179.96,269 L179.96,212.25 L205.5225,212.25 L205.5225,268.875 C205.5225,275.416699 206.657905,280.208318 208.92875,283.25 C211.199595,286.291682 214.897474,287.8125 220.0225,287.8125 C225.105859,287.8125 228.762072,286.291682 230.99125,283.25 C233.220428,280.208318 234.335,275.416699 234.335,268.875 L234.335,212.25 L259.3975,212.25 L259.3975,269 C259.3975,281.541729 256.241282,291.249966 249.92875,298.125 C243.616218,305.000034 233.564236,308.4375 219.7725,308.4375 C205.939098,308.4375 195.845448,305.000034 189.49125,298.125 C183.137052,291.249966 179.96,281.541729 179.96,269 Z M269.0025,233.5 L269.0025,212.25 L349.1275,212.25 L349.1275,233.5 L321.8775,233.5 L321.8775,307 L296.2525,307 L296.2525,233.5 L269.0025,233.5 Z M360.6075,307 L360.6075,212.25 L386.2325,212.25 L386.2325,247.5 L417.7325,247.5 L417.7325,212.25 L443.295,212.25 L443.295,307 L417.7325,307 L417.7325,268.75 L386.2325,268.75 L386.2325,307 L360.6075,307 Z" id="THE-COLD-HARD-TRUTH" fill="#EBEAEA"></path>
                                    <rect id="Rectangle-6" fill="#DAA118" x="0" y="196" width="381" height="16"></rect>
                                    <rect id="Rectangle-6-Copy" fill="#DCA417" x="305" y="91" width="360" height="16"></rect>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>

            {% include 'style-guide/templates/components/display-copy.twig' with {
             string: 'Money, self-care and intersexual relationships',
             css: 'bright-yellow tracked-copy slide-in-2 mv1'
           } %}

             {% include 'style-guide/templates/components/social.twig' with {
               social: {
                 css: 'flex items-center justify-start mt4 slide-in-3',
                 itemsCss: 'bright-yellow',
               }
             } %}

          </div>

        </div>

      </div>

    </div>

  </div>
