
  {# Page preview #}

  <div class="row mh2">

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 relative pa0 flex items-center">

      <img src="https:////entrepreneursincars.ljsherlock.com/app/uploads/2018/09/richard-cooper-profile-1.jpg" class="mw6 w-100 z-1 relative mb4 mb0-l" alt="">

    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1 flex flex-column justify-center">

      {% include 'style-guide/templates/components/display-caption-black.twig' with {
        string: pagePreview.displaytitleCaption,
        style: pagePreview.displaytitleCaptionStyle
      } %}

      <div class="mb2 mb4-l">

        {% include 'style-guide/templates/components/display-1.twig' with {
          string: pagePreview.displaytitle,
          style: pagePreview.displaytitleStyle
        } %}

      </div>

      <div class="mb3 mb4-l">

        {% include 'style-guide/templates/components/display-copy.twig' with {
          string: pagePreview.displayCopy,
          style: pagePreview.displayCopyStyle
        } %}

      </div>


      <div class="flex ">
        <a href="#0" class="w-50 tc mr4 f7 f5-l benton-sans-black bw2 ttu no-underline darkslate-gray bg-animate hover-bg-darkslate-gray hover-gainsboro pa3 ba b--darkslate-gray border-box">
          <span class="pl1">Schedule a call</span>
        </a>

        <a href="#0" class="w-50 tc f7 f5-l benton-sans-black bw2 ttu no-underline darkslate-gray bg-animate hover-bg-bright-yellow hover-gainsboro pa3 ba bright-yellow b--bright-yellow border-box">
          About eic</a>
      </div>

    </div>

  </div>
