
  {# Posts Header #}

  <div class="">

    {% include 'style-guide/templates/components/display-caption-light.twig' with { string: captionTitle, style: captionTitleStyle } %}

    {% include 'style-guide/templates/components/display-1.twig' with { string: title, style: titleStyle } %}

    {% include 'style-guide/templates/components/button.twig' with { string: buttonTitle, style: buttonStyle } %}

  </div>
