

  {# Section #}

  {% set combo = {
    section: 'pb5',
    row: 'row',
    flex: 'col-xs-4 flex justify-center items-center',
    line: 'h6 bl lr bw1',
    content: 'mw8 center'
  } %}

  <section class="{{ combo.section }} {{ bgColour }}">

    <div class="{{ combo.row }}">

      <div class="{{ combo.flex }}">

        <div class="{{ combo.line }}"></div>

      </div>

    </div>

    <div class="{{ combo.content }}">

      {% block content %}{% endblock %}

    </div>

  </section>
