

  {# Section #}

  {% set combo = {
    section: 'pb5 pt6',
    row: 'row',
    flex: 'col-xs-4 col-xs-offset-8 flex justify-center items-center h6',
    lineRight: 'h6 br bw1',
    lineLeft: 'bl bw1',
  } %}

  <section class="{{ combo.section }} {{ section.css }}" style="{{ section.style }}">

    <div class="{{ combo.row }}">

      {% if line is not empty %}

        <div class="{{ combo.flex }}">

          {% if line == 'left' %}

            <div class="{{ combo.lineLeft }} {{ section.lineColor }} "></div>

          {% endif %}

          {% if line == 'right' %}

              <div class="{{ combo.lineRight }} {{ section.lineColor }} "></div>

          {% endif %}

        </div>

      {% endif %}

    </div>

    <div class="{{ combo.content }}">

      {% block content %}{% endblock %}

    </div>

  </section>
