<article class="mt5 darkslate-gray {{class}}">
  <h3 class="f6 fw4 f6 mb3 helvetica pb2 bb mb4">{{title}}</h3>
  <div class="dt-ns dt--fixed-ns">
    <div class="dtc-ns v-mid">
    {% block markup %}

    {% endblock markup %}
    </div>
  </div>
</article>
