
  {# Video Section #}

  {% embed 'style-guide/templates/components/section.twig' with {
    section: {
      css: 'bg-gainsboro ph2'
    }
  } %}

    {% block content %}

      <div class="mh2 mw6 mw7-m mw8-l center">

        {% include 'style-guide/templates/components/posts-header.twig' with {
         captionTitle: 'media', captionTitleStyle: 'bright-yellow',
         title: 'recent topics', titleStyle: 'darkslate-gray',
         buttonTitle: 'View All', buttonStyle: 'darkslate-gray'
        } %}

        <div class="mt5">
          <div class="row mb4">
            <div class="col-xs-11">

              {% include 'style-guide/templates/components/big-article-link.twig' with {
                string: 'Is the juice worth the squeeze?',
                backgroundImage: '////entrepreneursincars.ljsherlock.com/app/uploads/2018/09/squeeze.jpg'
              } %}

            </div>
          </div>

          {% include 'style-guide/templates/components/article-link.twig'  with {
            captionTitle: 'interview', captionTitleStyle: 'bright-yellow',
            title: 'The top 3 mistakes men make', titleStyle: 'darkslate-gray',
            backgroundImage: '////entrepreneursincars.ljsherlock.com/app/uploads/2018/09/the-truth-section-presentation-image.jpg'
          } %}

          {% include 'style-guide/templates/components/article-link.twig'  with {
            captionTitle: 'video', captionTitleStyle: 'bright-yellow',
            title: 'stop wasting time with the wrong people', titleStyle: 'darkslate-gray',
            backgroundImage: '////entrepreneursincars.ljsherlock.com/app/uploads/2018/09/premier-community.jpg'
          } %}
        </div>

      </div>

    {% endblock %}

  {% endembed %}
