.menu {
  .menu-item {
    margin-bottom: $spacing-medium;
    a {
      color: white;
      text-decoration: none;
      @extend .link;
    }
    &.current-menu-item a {
      font-family: Chaparral Pro Bold;
    }
  }
}

#primaryMenu .current-menu-item {
  &:after {
    left: 0;
    right: 0;
  }
}
