<footer class="bg-black white tc tl-m tl-l pt5 pb4 pb5-ns">

  <div class="row mw8-l center">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 flex justify-center">
        <a href="/" class="db mb4 mb0-ns">
          <img id="LogoFooter" class="h5" src="{{ site.theme.uri }}/dist/img/logo_tiny_white.png" alt="">
        </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <p class="o-60 mt0">Contact:</p>
      <address class="f4 lh-copy">{% for item in global.companyAddress %}{{ item.line }}<br>{% endfor %}</address>
      <p class="f4 lh-copy">
        <a href="tel:{{ global.contactTelephone }}" class="white no-underline link">{{ global.contactTelephone }}</a>
        <br>
        <a href="mailto:{{ global.contactEmail }}" class="white no-underline link">{{ global.contactEmail }}</a>
      </p>

    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 db flex-m flex-l flex-column flex-row-ns items-center items-start-m items-start-l">
      {{ sidebar__footer }}
    </div>
  </div>

</footer>
