<button class=" b-none bg-transparent b-transparent outline-0 bn h2 fade-in-2" type="button">
  <div class="hamburger__slice w4 w5-ns h1 bg-gainsboro mb2"></div>
  <div class="hamburger__slice w4 w5-ns h1 bg-gainsboro"></div>
</button>
