
{# components/header.twig #}

{#
   Header
   @param {Menu Object} menu
#}

{# Parameters #}
{% set appPost = post ?? null %}
{% set headerMenu = menu ?? null %}


{# Variables #}

{# Output #}
{% import 'macros.twig' as mcro %}

<header class="mt4-l mt4-m absolute w-100 h-auto-m h-auto-l z-2 ph3 pv2 dn db-m db-l" id="primarySiteMenu">
  <div class="site-menu
  fixed
  relative-m
  relative-l
  dn db-m db-l
  w-100 h-100
  absolute--fill
  bg-none-m
  bg-none-l
  z-5
  items-center
  justify-center
  flex-column
  flex-row-m
  flex-row-l">

    {% include 'components/menu.twig' with {
      menu: global.menus.desktop,
      classes: 'tc primary-menu flex-m flex-l justify-between-l justify-between-m w-100 mw8-m mw8-l center h-100-m h-100-l ',
      attrs: { id: 'primaryMenu' },
      itemClasses: 'f2 alternateGotNo3D-regular tracked no-underline ttu db mb4 mv2-m mv2-l white ph3 line-below--outwards dib db-m db-l'
    } %}

  </div>

</header>
