
{# components/header.twig #}

{#
   Header
   @param {Menu Object} menu
#}

{# Parameters #}

{# Variables #}

{# Output #}
{% import 'macros.twig' as mcro %}

<header class="absolute h5 w-100 z-2 ph3 pv2 db dn-m dn-l" id="primarySiteMenuMobile" data-state=""> {#  hide|show #}

  <div class="menu h-100 w-100">

    <div class="mw8 center relative h-100 w-100 flex justify-between items-center">

      <a href="/" class="db h-75 ">
        <img id="logoMobile" class="h-100" src="{{ site.theme.uri }}/dist/img/logo_small_white.png">
      </a>

      <div id="primaryHamburger" class="hamburger w3 pointer">
        <div class="hamburger__layer bg-white"></div>
        <div class="hamburger__layer bg-white"></div>
        <div class="hamburger__layer bg-white"></div>
      </div>

    </div>

  </div>

  <div
    data-state="closed"
    id="primarySiteMenuModal"
  >

    <div class="fixed z-5 w-100 h-100 absolute--fill flex items-center justify-center flex-column bg-black">

      <div id="primaryHamburgerClose" class="hamburger hamburger--close w3 pointer absolute top-1 right-1">
        <div class="hamburger__layer bg-white"></div>
        <div class="hamburger__layer bg-white"></div>
        <div class="hamburger__layer bg-white"></div>
      </div>

      {% include 'components/menu.twig' with {
        menu: global.menus.mobile,
        classes: 'tc primary-menu  w-100 center ',
        attrs: { id: 'primaryMenu' },
        itemClasses: 'f1-l f2 alternateGotNo3D-regular tracked no-underline ttu db mb4 white ph3 line-below--outwards dib '
      } %}

    </div>

  </div>

</header>
