
{# components/logo.twig #}

{#
   logo
   @param {Menu Object} menu
#}

{# Parameters #}

{# Variables #}

{# Output #}
{% import 'macros.twig' as mcro %}

<a href="/" class="db h-75 ">
  <img id="headerLogo" class="h-100" src="{{ site.theme.uri }}/dist/img/logo_small_white.png">
</a>
