{# base/components/menuu.twig #}

{#
  Menu

  From the menu object create a menu

  @param {Array} bem (optional)
  {
    block {String}
    element {String}
    modifier {Array}
  }

  @param {Array} attrs (optional)
  {
    Mixed
  }

  @param {Timber Menu Object}
#}

{# Parameters #}
{% set menuArray = menu.items ?? null %}
{% set menuAttrs = attrs ?? null %}
{% set menuClass = classes ?? null %}
{% set menuItemClasses = ' ' ~ itemClasses %}

{# Variables #}
{% set menuClassDefault = 'nav' %}
{% set menuClass = menuClass ~ menuClassDefault %}

{# Output #}
{% if menuArray %}

   {% import 'macros.twig' as mcro %}

   {% set navHTML %}
      {% for item in menuArray %}
      <div class="flex flex-column justify-center">
        {% if menuItemAttrFields %}
            {% set menuItemAttrs = [] %}
            {% for field in menuItemAttrFields %}
                {% set menuItemAttrs = menuItemAttrs|merge({ (field): (attribute(item, field)) }) %}
            {% endfor %}
        {% endif %}

        {# create button #}
        <a href="{{item.link}}" id="menuItem{{item.title}}" class="{{item.classes|join(' ') ~ menuItemClasses}}">{{item.title}}</a>

        {% if children != false or children == true %}

          {% if item._children is not null or item.children is not null %}
            <div>
              {% for child in item.children %}
              <div>
                {% if menuItemAttrFields %}
                    {% set menuItemAttrs = [] %}
                    {% for field in menuItemAttrFields %}
                        {% set menuItemAttrs = menuItemAttrs|merge({ (field): (attribute(child, field)) }) %}
                    {% endfor %}
                {% endif %}

                {# create button #}
                <a href="{{item.link}}" class="{{menuItemClasses}}">{{item.title}}</a>
              </div>
              {% endfor %}
            </div>
          {% endif %}

        {% endif %}
      </div>
      {% endfor %}
   {% endset %}

   {{ mcro.createHTMLTag( 'nav', menuAttrs, menuClass, navHTML ) }}

{% endif %}
