  {# components/subscribeFrom.twig #}

  {#

  @name Subscribe Form
  @description Create a subscribe form from the data parsed from the widget

  @title {String} (required)
  @actionAttr {Array} (required)
  @buttonText {Array} (required)
  @legal {Array} (optional)

  #}

  {# Parameters #}
  {% set subscribeFormTitle = title ?? null %}
  {% set subscribeFormActionAttr = actionAttr ?? null %}
  {% set subscribeFormButtonText = buttonText ?? null %}
  {% set subscribeFormLegal = legal ?? null %}

  {# Variables #}
  {% set widgetObjType = widgetObj.type ?? null %}

  {# Output #}

  {% if subscribeFormTitle is not null and subscribeFormTitle is not empty
  and subscribeFormActionAttr is not null and subscribeFormActionAttr is not empty
  and subscribeFormButtonText is not null and subscribeFormButtonText is not empty  %}

    {% import 'macros.twig' as mcro %}

    {% set subscribFormInnerHTML %}

    <h2 class="f2 f1-ns intro-regular tracked tc ttu mb5">{{subscribeFormTitle}}</h2>

    <form class="" action="{{actionAttr}}" target="_blank" method="post">
      <div class="flex">
        <input type="text" name="EMAIL" placeholder="your@email.com" value="" style="height: 50px;" class="w-75 w-75-m w-80-l h5 ba br-0 br-pill br--left ph4 f4" required>
        <input type="submit" name="subscribe" style="height: 50px; line-height:1" class="w-25 w-25-m w-20-l h5 ph3 pv0 ba bl-0 b--black br-pill br--right f1 alternateGotNo3D-regular tracked no-underline bg-white black ttu bg-white black pointer" value="{{subscribeFormButtonText}}">
      </div>
    </form>
    {% if subscribeFormLegal is not null and subscribeFormLegal is not empty %}

      <p class="f6 tc tracked">{{subscribeFormLegal}}</p>

    {% endif %}


    {% endset %}

    {{ mcro.createHTMLTag( 'div', {}, 'mw6 center', subscribFormInnerHTML ) }}

  {% endif %}
