.owl-carousel .owl-nav {
  position: absolute;
  top: calc(50% - 40px);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  @extend .flex;
  @extend .justify-between;
  button {
    &.owl-prev, &.owl-next {
      width: 60px;
      height: 60px;
      background-color: black;
      span {
        color: white;
        font-size: 3rem;
        @extend .intro-regular;
      }
      // background-image:url(../../img/next-prev.png);
      // background-position: center;
      // background-repeat: no-repeat;
    }
  }
}
.owl-carousel .owl-dots {
  height: 2px;
  button {
    @extend .button-reset;
    @extend .outline-0;
    height: 100%;
    flex-grow: 1;
    &.active {
      @extend .bg-black;
    }
  }
}
